novari:
    flyt:
        web-resource-server:
            security:
                api:
                    external:
                        enabled: true
                        authorized-source-application-ids: 99 #replace this with the actual source application ID this application gets from fint-flyt-authorization-service
